<!-- <p>Welcome to Roster Management</p>

<img src="./assets/images/home.jpg" style="margin-left: 20%;"> -->


<div class="welcome-msg" style="margin-left: 20%;">
    <img src="./assets/images/home.jpg" alt="Notebook" >
    <div class="content">
      <h1> Welcome !</h1>
      <h1>We help in keeping you on Track !!!</h1>
      <p>This website will help in tracking the Employee details, Shift Details and their Project details</p>
    </div>
  </div>

<footer class="footer_text"> © Copyright 2020. All Rights Reserved.</footer>