<div class="total">
<div>
      <p class="toolbar_text"> View Customers Data</p>   
</div>
   
<div class ="button">

    <mat-form-field class="name_filter" style="width: 20%; margin-left:6%;">
       <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search with any value from below table">
    </mat-form-field>

    <button mat-flat-button id="reset" (click)="resetFilters()" >Reset</button>  
    <button mat-raised-button id = "addnewentry" a routerLink = "/newentry"><mat-icon>person_add</mat-icon> Add New Entry</button> <router-outlet></router-outlet>
     
  </div>

<div class="filter-table">
    <mat-table id="emp-table" [dataSource]="dataSource"  matSort class="mat-elevation-z20">

      <ng-container matColumnDef="name"  >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let item "> {{item.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="phone_no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone no </th>
        <td mat-cell *matCellDef="let item"> {{item.phone_no}} </td>
      </ng-container>
  

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Email </th>
        <td mat-cell *matCellDef="let item"> {{item.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > City </th>
        <td mat-cell *matCellDef="let item"> {{item.city}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > D.O.B </th>
        <td mat-cell *matCellDef="let item"> {{item.dob}} </td>
      </ng-container>
  
      <ng-container matColumnDef="status" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Status </th>
        <td mat-cell *matCellDef="let item"> {{item.status}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button mat-raised-button id="edit" a routerLink = "/edit"><mat-icon [inline]="true">edit</mat-icon>Edit</button>
          <router-outlet></router-outlet>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button mat-raised-button (click) = handleDelete(item.name) id="delete"><mat-icon>delete</mat-icon></button>
          <router-outlet></router-outlet>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    </mat-table> 

  </div>
 
  <div>
    <mat-paginator id = "pagin" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons style="color: black;"></mat-paginator>
  </div>

</div>