.text{
    font-size:x-large;
    font-weight: bolder; 
    text-align: center;
}

#tab{
   
    color: white;
    font-weight: 500;
    font-size:large;
}

.input_form{
    margin-left: 20%;
    margin-top: 5%;
}

#save-submit{
    margin-left: 75%;
}

#exit{
    margin-left:3%;
}

.mat-raised-button{
    background-color: #47d147;
    color: white; 
}
